doctype html
html(class="no-js", lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title=""
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="manifest", href="site.webmanifest")
        link(rel="apple-touch-icon", href="icon.png")
        //Place favicon.ico in the root directory
        link(type="text/css", rel="stylesheet", href="css/main.css")
    body
        <!--[if lte IE 9]>
        p(class="browserupgrade").
            You are using an #[strong="outdated"] browser. Please #[a(href="http://browsehappy.com/")="upgrade your browser"] to improve your experience and security.
        <![endif]-->

        // Add your site or application content here
        h1="HTML5 Initializer"
        p="Hello world! This is HTML5 Boilerplate."

        script(type="text/javascript", src="js/plugins.js")
        script(type="text/javascript", src="js/main.js")